USE [master]
GO
/****** Object:  Database [dbAck]    Script Date: 02-01-2023 11:14:31 ******/
CREATE DATABASE [dbAck]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbAck', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbAck.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbAck_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbAck_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbAck].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbAck]
GO
/****** Object:  Table [dbo].[Ack]    Script Date: 02-01-2023 11:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_for] [varchar](250) NOT NULL,
	[hallticket_no] [varchar](50) NOT NULL,
	[applied_on] [datetime] NOT NULL,
	[date_of_issue] [datetime] NULL,
	[no_of_certificates] [int] NOT NULL,
	[challan_no] [varchar](150) NOT NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[remark] [text] NULL,
 CONSTRAINT [PK_Ack] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
