<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>


    <div class="jumbotron" style="padding-top:20px !important;padding-bottom:20px !important">
        <div class="container text-center">
            <h3><span><img src="https://jntuh.ac.in/images/jntuhlogo.png" style="width:6% !important" /></span>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY HYDERABAD</h3>
            <h4>EXAMINATION BRANCH</h4>
            <h4`>ACKNOLEDGEMENT</h4`>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">
        <P style="margin-left:5%;float:left;text-align:left">
            Received Application for _________________________    HT. No. _____________________________
            Applied on_____________________________________   Date of Issue_________________________
            No. of Certificates_____________ Challan No: _______________ Amount Rs. ______________
            Remarks_________________________________________________________________________
            <br />
            <br />
            <br />
            Time Type: By Post / By Hand (3.00 P.M. to 5.00. P.M. Only)
        
        <br />
        <br />
        <br />
        <h5 style="margin-right:1%;margin-top:10%;text-align:right">
            SIGNATURE OF THE CLERK
        </h5>
        </P>
        <br />
        <h5 style="margin-left:5%;float:left;text-align:left">
            Note: 	The Student should submit this ACKNOLEDGEMENT to receive the certificate from the counter on the specified date without fail. If the student fails to collect within 30 days from the date of application along with CHALLAN should be submitted to the required document.

            <br />
        </h5>
        <h5 style="margin-left:5%;float:left;text-align:left">
            1. Name Correction in Memos <br />
            2. Duplicate Marks Memo <br />
            3. Duplicate Consolidate Marks Memo <br />
            4. Duplicate Original Degree <br />
            5. Under Taking Tatkal <br />
            6. Tatkal Marks Memos <br />
            7. Tatkal PC and CMM <br />
            8. Manual Transcripts <br />
            9. CE Letter Head <br />
            10. Electronic Transcripts <br />
            11. WES Manual Process <br />
            12. OD Name Correction <br />
            13. P.C Name Correction <br />
            14. M.Tech & M.C.A Grade Memos <br />
            15. Others <br />
        </h5>
    </div>
    <br>

    <footer class="container-fluid text-center">
       
    </footer>

</body>
</html>
